<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
    <script src="https://kit.fontawesome.com/8f6d25a064.js" crossorigin="anonymous"></script>
    <title>User Management</title>
</head>
<body>
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>
                <a href="{% url 'core:index' %}">Customer's Management</a>
            </h1>
            <div class="input-group">
                <form action="{% url 'core:search' %}" method="GET">
                    <input type="search" id="searchInput" placeholder="Search Data..." name="q">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div>
					{% if messages %}
					<div id="messages">
						{% for message in messages %}
						<div class="alert {{ message.tags }}">
							{{ message }}
						</div>
						{% endfor %}
					</div>
					{% endif %}
                </div>
            </div>
            <div class="export__file">
                <label for="export-file"  title="Export File"><i class="fa-solid fa-gear"></i></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    {% if request.user.is_authenticated %}
                    <label>{{request.user.username}}</label>
                    {% else %}
                    <label>Account</label>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <label for="export-file" id="toPDF"><a href="{% url 'core:CreateUser' %}">Create User</a></label>
                    {% endif %}
                    <label for="export-file" id="toPDF"><a href="{% url 'userauths:sign-out' %}">Sign out</a></label>
                {% else %}
                    <label for="export-file" id="toPDF"><a href="{% url 'userauths:sign-in' %}">Register</a></label>
                {% endif %}
                
                </div>
            </div>
        </section>
        {% block content %}
        {% endblock content %}
    </main>
    <script>
        setTimeout(function() {
            var messages = document.getElementById('messages');
            if (messages) {
                messages.style.display = 'none';
            }
        }, 4000); // 5000 milliseconds = 5 seconds
    </script>
</body>
</html> 